name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - 'releases/*'

jobs:
  build:
    if: >
      github.event_name == 'pull_request' &&
      github.event.pull_request.user.login == 'dependabot[bot]'
    permissions:
      contents: write
    runs-on: ubuntu-latest
    steps:
    - id: ref
      run: |
        branch="${{ github.event.ref || github.event.pull_request.head.ref }}"
        echo "branch=$branch" >> $GITHUB_OUTPUT
    - name: checkout repo
      uses: actions/checkout@v6.0.2
      with:
        ref: ${{ steps.ref.outputs.branch }}
    - uses: actions/setup-node@v6
      with:
        node-version-file: '.tool-versions'
    - name: Install dependencies
      run: |
        npm ci
    - name: Build Action
      run: |
        npm run build
    - name: Update dist
      run: |
        git config user.name 'github-actions[bot]'
        git config user.email 'github-actions[bot]@users.noreply.github.com'
        git add ./dist
        if ! git diff --quiet dist; then
          git commit -m "Update dist"
          git push origin HEAD:${{ steps.ref.outputs.branch }}
        fi
  integrity:
    if: >
      !failure() &&
      !cancelled()
    needs:
      - build
    runs-on: ubuntu-latest
    steps:
    - name: checkout repo
      uses: actions/checkout@v6.0.2
      with:
        persist-credentials: false
    - uses: actions/setup-node@v6
      with:
        node-version-file: '.tool-versions'
    - name: Build action
      run: |
        npm ci
        npm run build
    - name: Repository Integrity Check
      run: |
        git diff --quiet dist
